
@{
    ViewBag.Title = "Index";

    Layout = "~/Views/MainPage/mainPageLayout.cshtml";
}




<div class="folders" id="folders">
    <ul>
        <a href="#contacts" rel="modal:open">
        <li class="menu">
            <img src="~/Content/NewFolder1/icons8-menu-50.png" alt="cds">
            <div>menu</div>
        </li>
        </a>
        <br>
        <li>
            <img src="~/Content/NewFolder1/icons8-folder-30 (1).png" alt="cds">
            <div>private</div>
        </li>
        <li>
            <img src="~/Content/NewFolder1/icons8-folder-30 (1).png" alt="cds">
            <div>news</div>
        </li>
        <li>
            <img src="~/Content/NewFolder1/icons8-folder-30 (1).png" alt="cds">
            <div>musics</div>
        </li>
        <li>
            <img src="~/Content/NewFolder1/icons8-folder-30 (1).png" alt="cds">
            <div>musics</div>
        </li>
        <li>
            <img src="~/Content/NewFolder1/icons8-folder-30 (1).png" alt="cds">
            <div>musics</div>
        </li>
        <li>
            <img src="~/Content/NewFolder1/icons8-folder-30 (1).png" alt="cds">
            <div>musics</div>
        </li>
        <li>
            <img src="~/Content/NewFolder1/icons8-folder-30 (1).png" alt="cds">
            <div>musics</div>
        </li>
        <li>
            <img src="~/Content/NewFolder1/icons8-folder-30 (1).png" alt="cds">
            <div>musics</div>
        </li>
        <li>
            <img src="~/Content/NewFolder1/icons8-folder-30 (1).png" alt="cds">
            <div>musics</div>
        </li>
        <li>
            <img src="~/Content/NewFolder1/icons8-folder-30 (1).png" alt="cds">
            <div>musics</div>
        </li>
        <li>
            <img src="~/Content/NewFolder1/icons8-folder-30 (1).png" alt="cds">
            <div>musics</div>
        </li>
        <li>
            <img src="~/Content/NewFolder1/icons8-folder-30 (1).png" alt="cds">
            <div>musics</div>
        </li>
        <li>
            <img src="~/Content/NewFolder1/icons8-folder-30 (1).png" alt="cds">
            <div>musics</div>
        </li>
        <li>
            <img src="~/Content/NewFolder1/icons8-folder-30 (1).png" alt="cds">
            <div>musics</div>
        </li>
        <li>
            <img src="~/Content/NewFolder1/icons8-folder-30 (1).png" alt="cds">
            <div>musics</div>
        </li>
    </ul>
</div>



<div class="main">

    <div class="list">
        <div class="search">
            <input type="text" placeholder="search">
        </div>
        <ul>
            <li> <img src="~/Content/NewFolder1/IMG_2528.jpg" alt=""> fddsfdsasd</li>
            <li> <img src="~/Content/NewFolder1/IMG_2528.jpg" alt=""> fddsfdsasd</li>
            <li> <img src="~/Content/NewFolder1/IMG_2528.jpg" alt=""> fddsfdsasd</li>
            <li> <img src="~/Content/NewFolder1/IMG_2528.jpg" alt=""> fddsfdsasd</li>
            <li> <img src="~/Content/NewFolder1/IMG_2528.jpg" alt=""> fddsfdsasd</li>
            <li> <img src="~/Content/NewFolder1/IMG_2528.jpg" alt=""> fddsfdsasd</li>
            <li> <img src="~/Content/NewFolder1/IMG_2528.jpg" alt=""> fddsfdsasd</li>
            <li> <img src="~/Content/NewFolder1/IMG_2528.jpg" alt=""> fddsfdsasd</li>
            <li> <img src="~/Content/NewFolder1/IMG_2528.jpg" alt=""> fddsfdsasd</li>
            <li> <img src="~/Content/NewFolder1/IMG_2528.jpg" alt=""> fddsfdsasd</li>
            <li> <img src="~/Content/NewFolder1/IMG_2528.jpg" alt=""> fddsfdsasd</li>
            <li> <img src="~/Content/NewFolder1/IMG_2528.jpg" alt=""> fddsfdsasd</li>
            <li> <img src="~/Content/NewFolder1/IMG_2528.jpg" alt=""> fddsfdsasd</li>
            <li> <img src="~/Content/NewFolder1/IMG_2528.jpg" alt=""> fddsfdsasd</li>
            <li> <img src="~/Content/NewFolder1/IMG_2528.jpg" alt=""> fddsfdsasd</li>
        </ul>
    </div>

    <div class="chat">
        <input type="text" class="chatBox" placeholder="write a message">
        <input type="button" value="contacts" ng-click="ShowContacts()" />
        <div class="conts" id="conts"></div>
    </div>

</div>

<div class="contacts" id="contacts">
    <input type="button" value="add contact" />


</div>
